@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap");

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none;
}

header {
  background: transparent;
}
h1 {
  font-size: 55px;
  color: white;
  font-weight: bold;
}

h3 {
  font-size: 42px;
  color: white;
  font-weight: bold;
}
p {
  font-size: 18px;
  color: #fff;
  font-weight: 300;
  line-height: 1.4;
}
.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.logotipo-navbar {
  width: 150px;
}

.navbar {
  padding-top: 24px;
  padding-bottom: 24px;
}

.navbar ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: left;
}

.nav-link {
  color: white;
}

.navbar li {
  position: relative;
}

.navbar a {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  font-weight: 400;
  color: #fff;
  margin-right: 6px;
  margin-left: 6px;
  white-space: nowrap;
}

.navbar a:hover,
.active {
  text-decoration: underline;
  text-underline-offset: 7px;
  border-width: 10px;
}
/*página inicial*/
.inicio {
  height: 100vh;
  margin-top: -86px;
}
.botao {
  border-radius: 50px;
  background-color: #ef4166;
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  padding: 14px 32px;
  border: none;
  transition: 0.4s ease-in-out;
}
.bordabotao {
  border-radius: 50px;
  background-color: transparent;
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  padding: 14px 32px;
  border-color: white;
  outline: none;
  margin-left: 10px;
  box-shadow: none;
  outline: 0;
}
.botao:hover {
  background-color: #1da7bc;
}
.btn:hover {
  color: white;
}
/*Solução*/
.solucao {
  width: 100%;
  height: 75vh;
  padding-top: 120px;
  padding-bottom: 100px;
}
.computador {
  display: flex;
  justify-content: end;
}

.beneficios {
  width: 100%;
  height: 80vh;
  padding-top: 72px;
  padding-bottom: 140px;
}

.sobrenos:hover {
  color: #3080fd;
}

.circulo-pontilhado {
}

.titulo-beneficios {
  font-size: 16px;
  font-weight: 600;
}

.circulo {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  font-size: 14px;
  color: #fff;
  text-align: center;
  background:#3080FD;
  margin-bottom: 12px;
}

/*telefone*/

@media (max-width: 575.98px) {
  .navbar ul {
    padding: 20px 0 16px 0;
  }
  h1 {
    font-size: 50px;
    line-height: 1.2;
    letter-spacing: 1.2px;
  }
  .computador {
    display: none;
  }
}

@media (max-width: 767.98px) {
  .computador {
    display: none;
  }
}

@media (max-width: 991.98px) {
  .computador {
    display: none;
  }
}
