html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: "Poppins", sans-serif;
}

.btn {
  border-radius: 55px;
  padding: 12px 32px;
  font-weight: 300;
  font-size: 14px;
}

.red {
  background-color: #ef4166;
}

/* Barra de Navegação */
.logotipo {
  width: 170px;
}

.color-navbar {
  background-color: #3080fd;
}

.navbar a {
  font-size: 14px;
  font-weight: 300;
}

.navbar li {
  margin-left: 12px;
}

/* Homepage */

.banner-image {
  background-image: url("../images/backgroundImage.png");
  background-size: cover;
  height: 100vh;
}

.texto-info {
  margin-bottom: 24px;
}
.texto-info h1 {
  color: white;
  font-size: 48px;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 16px;
}

.texto-info p {
  color: white;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.3;
}

.btn-sabermais {
  margin-right: 8px;
}

.btn-sabermais:hover {
  background-color: #1da7bc;
}

/* Solução */

.solucao {
  padding-top: 64px;
  padding-bottom: 64px;
}

.texto-solucao {
  display: flex;
  justify-content: space-between;
  margin-bottom: 24px;
}

.texto-solucao h1 {
  font-size: 32px;
  font-weight: 600;
  color: #3080fd;
  margin-bottom: 8px;
}
.texto-solucao p {
  font-size: 14px;
  font-weight: 400;
}

.paragrafo-solucao p {
  font-size: 16px;
  line-height: 1.5;
  font-weight: 300;
  text-align: left;
  text-justify: inter-word;
}

/* Beneficios */

.benificios {
  padding-top: 64px;
  padding-bottom: 64px;
}

.texto-info-benificios {
  margin-bottom: 48px;
}

.texto-info-benificios h1 {
  font-size: 32px;
  font-weight: 600;
  color: #304574;
  margin-bottom: 8px;
}

.texto-info-benificios h4 {
  font-size: 24px;
  font-weight: 400;
  color: #b6b7b9;
  margin-bottom: 8px;
}

.list-beneficios li {
  margin-bottom: 32px;
}

.circle-points {
  padding: 20px;
  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='100' ry='100' stroke='%23A2B3ECFF' stroke-width='3' stroke-dasharray='2%2c 10' stroke-dashoffset='33' stroke-linecap='butt'/%3e%3c/svg%3e");
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 58px;
}

.circle {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  font-size: 14px;
  color: #fff;
  text-align: center;
  background: #3080fd;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  justify-content: center;
}

@media (max-width: 575.98px) {
  .texto-info h1 {
    font-size: 36px;
  }

  .texto-info p {
    font-size: 14px;
  }

  .banner-image {
    padding-top: 250px;
    padding-bottom: 200px;
    background-image: url("../images/backgroundImage.png");
    background-size: cover;
    height: 50vh;
  }

  .texto-solucao {
    display: block;
  }

  .item-benefecios {
    position: relative;
    display: list-item;
  }
}
